[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[project]
	description = "Parent repository for the O-RAN SC Non Real-Time RIC (NONRTRIC) project. "
[access "refs/*"]
	owner = group ldap/oran-gerrit-nonrtric-committers
	owner = group saml/oran-gerrit-nonrtric-committers
	read = group GitHub Replication
	deleteChanges = group ldap/oran-gerrit-nonrtric-committers
	deleteChanges = group saml/oran-gerrit-nonrtric-committers
