<div>
<nav role="navigation" class="navbar navbar-default" style="margin-top:10px;">
         <div class="navbar-header" style="background-color:#ffe0b3;font-size: 15px;font-weight: bold;color:black;">
            <ul class="nav navbar-nav">
           	 <li><div class="dropdown">
          		 <button class="dropbtn" style="padding-right:40px;padding-left: 30px; ">VIEW ALL REPORTS</button>
           			<div class="dropdown-content">
                             <a ng-href="#testReports">Search Vnf Reports</a>
                             <a ng-href="#testReportsById">Search Vnf Reports By ID</a>
           			</div>
           		 </div>
            <li><div class="dropdown">
              <button class="dropbtn">DEVICE CONFIGURATION</button>
                      <div class="dropdown-content">
                             <a ng-href="#deviceConfig">Backup Config</a>
                             <a ng-href="#applyConfig">Apply Config</a>
                             <a ng-href="#compareConfig">Compare Config</a>
                      </div>
                 </div>
            </li>

           </ul>
         </div>
</nav>
</div>