
<!-- views/partials/header.ejs -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">


		<div class="navbar-header">
			<a class="navbar-brand" href="#">&nbsp;AdminPortal</a>
    	</div>

        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default navbar-btn "
				onclick="location.assign('/sla/listSLA');">SLA</button>

			<div class="btn-group" role="group">
      			<button type="button" class="btn btn-default navbar-btn dropdown-toggle" 
					data-toggle="dropdown" 
					aria-expanded="false">Profiles <span class="caret"></span>
				</button>
      			<ul class="dropdown-menu" role="menu">
        			<li><a href="/mobility/getVnfProfile">VNF Profile</a></li>
				</ul>
			</div>

			<div class="btn-group" role="group">
                <button type="button" class="btn btn-default navbar-btn dropdown-toggle"
                    data-toggle="dropdown"
                    aria-expanded="false">Preload Tools <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
        			<li><a href="/mobility/getVnfData">Pre-load VNF Data</a></li>
        			<li><a href="/mobility/getVnfNetworkData">Pre-load VNF Network Data</a></li>
                </ul>
            </div>

			<!-- LOGS
			<div class="btn-group" role="group">
      			<button type="button" class="btn btn-default navbar-btn dropdown-toggle" 
					data-toggle="dropdown" 
					aria-expanded="false">Logs  <span class="caret"></span></button>
      			<ul class="dropdown-menu" role="menu">
        			<li><a href="/logs/getUserTrace">User Trace</a></li>
        			<li><a href="/logs/getAccessLog">Access Log</a></li>
				</ul>
			</div>
			-->

            <button type="button" class="btn btn-default navbar-btn"
				onclick="location.assign('/user/listUsers');">User Admin</button>
            <button type="button" class="btn btn-default navbar-btn"
				onclick="location.assign('/logout');">Logout</button>
        </div>
        </div>
    </div>

</nav>

<script type="text/javascript">
$('[data-submenu]').submenupicker();
$('[vlanidpool-submenu]').submenupicker();
</script>
