   <div class="modal fade" 
		id="l2-homing-information-modal" tabindex="-1" role="dialog" 
		aria-labelledby="l2-homing-information-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="l2-homing-information-modal-label">l2-homing-information</h4>
          </div>
          <div class="modal-body">
            <form id="l2_homing_information_form" role="form" action="" method="POST">
              <div class="form-group">
                <label for="evc_name">evc-name</label>
                <input type="text" class="form-control" name="evc_name" id="evc_name">
              </div>
              <div class="form-group">
                <label for="preferred_aic_clli">preferred-aic-clli</label>
                <input type="text" class="form-control" name="preferred_aic_clli" id="preferred_aic_clli">
              </div>
              <div class="form-group">
                <label for="topology">topology</label>
                <input type="text" class="form-control" name="topology" id="topology">
              </div>

<!--
              <div class="form-group">
				<input type="hidden" name="uf_action" id="uf_action">
                <button type="button" class="btn btn-primary" onclick="submit(this.form);">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
-->
           </form>
          </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
function submit(form){
	$('#service-status-modal').modal('hide');
	form.action = form.uf_action.value;
	form.submit();
	return;
}
</script>

