<div class="modal fade" id="add_phs_credentials" tabindex="-1" role="dialog"
        aria-labelledby="add_phs_credentials_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add PHS Credentials</h4>
          </div>
          <div class="modal-body">
            <form name="addForm" role="form" action="/ucpe/addPhsCredentials" method="POST">
              <div class="form-group">
                <label for="nf_device_vendor_name">*Device Vendor Name</label>
                <input type="text" class="form-control" maxlength="255" aria-describedby="helpVName" name="nf_device_vendor_name" id="nf_device_vendor_name" placeholder="varchar(255)">
				<span id="helpVName" class="help-block">The Device Vendor Name must match exactly whats in the PHS Servers table.</span>
              </div>
              <div class="form-group">
                <label for="nf_customer_name">*Customer Name</label>
                <input type="text" class="form-control" maxlength="255" aria-describedby="helpCName" name="nf_customer_name" id="nf_customer_name" placeholder="varchar(255)">
				<span id="helpCName" class="help-block">The Customer Name must match exactly whats in the PHS Servers table.</span>
              </div>
              <div class="form-group">
                <label for="nf_ip_addresses">*IP Addresses</label>
                <input type="text" class="form-control" maxlength="40" aria-describedby="helpIP" name="nf_ip_addresses" id="nf_ip_addresses" placeholder="varchar(40)">
				<span id="helpIP" class="help-block">The IP Addresses must match exactly whats in the PHS Servers table.</span>
              </div>
              <div class="form-group">
                <label for="nf_phs_username">*PHS Username</label>
                <input type="text" class="form-control" maxlength="255" name="nf_phs_username" id="nf_phs_username" placeholder="varchar(255)">
              </div>
              <div class="form-group">
                <label for="nf_phs_password">*PHS Password</label>
                <input type="password" class="form-control" maxlength="255" name="nf_phs_password" id="nf_phs_password" placeholder="varbinary(255)">
              </div>
              <div class="form-group">
                <label for="nf_phs_password">*Confirm PHS Password</label>
                <input type="password" class="form-control" maxlength="255" name="nf_confirm_phs_password" id="nf_confirm_phs_password" placeholder="varbinary(255)">
              </div>
              <div class="form-group">
                <input type="hidden" name="nf_action" id="nf_action">
                <button type="button" class="btn btn-primary" onclick="submitPhsCredentials(this.form);">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
           </form>
          </div>
      </div>
    </div>
  </div>

   <div class="modal fade" id="update_phs_credentials" tabindex="-1" role="dialog" 
		aria-labelledby="update_phs_credentials_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Update PHS Credentials</h4>
          </div>
          <div class="modal-body">
            <form role="form" action="/ucpe/updatePhsCredentials" method="POST">
              <div class="form-group">
                <label for="uf_device_vendor_name">*Device Vendor Name</label>
                <input readonly type="text" class="form-control" name="uf_device_vendor_name" id="uf_device_vendor_name">
              </div>
              <div class="form-group">
                <label for="uf_customer_name">*Customer Name</label>
                <input readonly type="text" class="form-control" name="uf_customer_name" id="uf_customer_name">
              </div>
              <div class="form-group">
                <label for="uf_ip_addresses">*IP Addresses</label>
                <input readonly type="text" class="form-control" name="uf_ip_addresses" id="uf_ip_addresses">
              </div>
              <div class="form-group">
                <label for="uf_phs_username">*PHS Username</label>
                <input type="text" class="form-control" maxlength="255" name="uf_phs_username" id="uf_phs_username">
              </div>
              <div class="form-group">
                <label for="uf_phs_password">*PHS Password</label>
                <input type="password" class="form-control" maxlength="255" name="uf_phs_password" id="uf_phs_password">
			  </div>
              <div class="form-group">
                <label for="uf_phs_password">*Confirm PHS Password</label>
                <input type="password" class="form-control" maxlength="255" name="uf_confirm_phs_password" id="uf_confirm_phs_password" placeholder="varbinary(255)">
              </div>
              <div class="form-group">
				<input type="hidden" name="uf_action" id="uf_action">
                <button type="button" class="btn btn-primary" onclick="submitPhsCredentials(this.form);">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
           </form>
          </div>
      </div>
    </div>
  </div>
