   <div class="modal fade" id="routing-protocol-modal" tabindex="-1" role="dialog" 
		aria-labelledby="routing-protocol-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">routing-protocol</h4>
          </div>
          <div class="modal-body">
            <form role="form" action="" method="POST">
              <div class="form-group">
                <label for="routing_protocol">routing-protocol</label>
                <input type="text" class="form-control" name="routing_protocol" id="routing_protocol">
              </div>

<!--
              <div class="form-group">
				<input type="hidden" name="svc_instance_id" id="svc_instance_id">
				<input type="hidden" name="uf_action" id="uf_action">
                <button type="button" class="btn btn-primary" onclick="submit(this.form);">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
-->
           </form>
          </div>
      </div>
    </div>
  </div>

<script type="text/javascript">
function submit(form){
	$('#routing-protocol-modal').modal('hide');
	form.action = form.uf_action.value;
	form.submit();
	return;
}
</script>

