<div class="modal fade" id="add_service_manager_credentials" tabindex="-1" role="dialog"
        aria-labelledby="add_service_manager_credentials_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add Service Manager Credentials</h4>
          </div>
          <div class="modal-body">
            <form name="addForm" role="form" action="/ucpe/addServiceManagerCredentials" method="POST">
              <div class="form-group">
                <label for="nf_service_manager_username">*Service Manager Username</label>
                <input type="text" class="form-control" maxlength="255" name="nf_service_manager_username" id="nf_service_manager_username" placeholder="varchar(255)">
              </div>
              <div class="form-group">
                <label for="nf_service_manager_password">*Service Manager Password</label>
                <input type="password" class="form-control" maxlength="255" name="nf_service_manager_password" id="nf_service_manager_password" placeholder="varbinary(255)">
              </div>
              <div class="form-group">
                <label for="nf_confirm_service_manager_password">*Confirm Service Manager Password</label>
                <input type="password" class="form-control" maxlength="255" name="nf_confirm_service_manager_password" id="nf_confirm_service_manager_password" placeholder="varbinary(255)">
              </div>
              <div class="form-group">
                <input type="hidden" name="nf_action" id="nf_action">
                <button type="button" class="btn btn-primary" onclick="submitServiceManagerCredentials(this.form);">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
           </form>
          </div>
      </div>
    </div>
  </div>

   <div class="modal fade" id="update_service_manager_credentials" tabindex="-1" role="dialog" 
		aria-labelledby="update_service_manager_credentials_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Update Service Manager Credentials</h4>
          </div>
          <div class="modal-body">
            <form role="form" action="/ucpe/updateServiceManagerCredentials" method="POST">
              <div class="form-group">
                <label for="uf_service_manager_username">*Service Manager Username</label>
                <input type="text" class="form-control" maxlength="255" name="uf_service_manager_username" id="uf_service_manager_username">
              </div>
              <div class="form-group">
                <label for="uf_service_manager_password">*Service Manager Password</label>
                <input type="password" class="form-control" maxlength="255" name="uf_service_manager_password" id="uf_service_manager_password">
			  </div>
              <div class="form-group">
                <label for="uf_confirm_service_manager_password">*Confirm Service Manager Password</label>
                <input type="password" class="form-control" maxlength="255" name="uf_confirm_service_manager_password" id="uf_confirm_service_manager_password" placeholder="varbinary(255)">
              </div>
              <div class="form-group">
				<input type="hidden" name="uf_action" id="uf_action">
                <button type="button" class="btn btn-primary" onclick="submitServiceManagerCredentials(this.form);">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
           </form>
          </div>
      </div>
    </div>
  </div>
