<!DOCTYPE html>
<html lang="en">
<head>
  <title>SDN-C AdminPortal</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% include ../partials/head %>
  <% include ../partials/header %>
</head>
<body>

<div class="well well-sm">
<h3>Service Logic Code</h3>
</div>

<div class="container-fluid">
<% if ( typeof result != 'undefined' ) {
        if (result.code.length > 0) {
            if ( result.code == 'success' ) { %>
                <pre class='alert alert-success' role='alert'><%=result.msg %></pre>
            <% } else { %>
                <pre class='alert alert-danger' role='danger'><%=result.msg %></pre>
            <% } %>
        <% } %>
<% } %>
</div>


<footer>
	 <% include ../partials/footer %>
</footer>
    
</body>
</html>

