## Velocity template for modifyconfigANR response payload
#set($begCntr=0)
#set($endCntr=0)
#set($entries=$ctx.getAttribute("generic-neighbor-configuration-input.lte-cell-number-of-entries"))
#set($endCntr=$endCntr.parseInt($entries))
#set( $endCntr = $endCntr - 1)
{
        "Configurations": [{
                "Status": {
                        "Code": "$ctx.getAttribute("prop.oofpcipoc-dmaap-config-resp.status-code")",
                        "Value": "$ctx.getAttribute("prop.oofpcipoc-dmaap-config-resp.status-value")"
                },
                "data": {
                        "FAPService": {
                                "alias": "$ctx.getAttribute("generic-neighbor-configuration-input.alias")",
                                "CellConfig": {
                                        "LTE": {
                                                "RAN": {
                                                        "Common": {
                                                                "CellIdentity": "$ctx.getAttribute("generic-neighbor-configuration-input.alias")"
                                                        },
                                                        "NeighborListInUse": {
                                                                "LTECellNumberOfEntries": "$ctx.getAttribute("generic-neighbor-configuration-input.lte-cell-number-of-entries")",
                                                                "LTECell": [ #foreach($no in [$begCntr..$endCntr]) {
                                                                        "PLMNID": "$ctx.getAttribute("generic-neighbor-configuration-input.neighbor-list-in-use[$no].plmnid")",
                                                                        "CID": "$ctx.getAttribute("generic-neighbor-configuration-input.neighbor-list-in-use[$no].cid")",
                                                                        "PhyCellID": "$ctx.getAttribute("generic-neighbor-configuration-input.neighbor-list-in-use[$no].phy-cell-id")",
                                                                        "PNFName": "$ctx.getAttribute("generic-neighbor-configuration-input.neighbor-list-in-use[$no].pnf-name")",
                                                                        "Blacklisted": "$ctx.getAttribute("generic-neighbor-configuration-input.neighbor-list-in-use[$no].blacklisted")"
                                                                } #if( $foreach.count == $endCntr), #end #end ]
                                                        }
                                                }
                                        }
                                }
                        }
                }
        }   ]
}
