spring:
  profiles:
    active: prod
  main:
    allow-bean-definition-overriding: true 
management:
  endpoints:
    web:
      exposure:
        include: "loggers,logfile,health,info,metrics"

logging:
  level:
    ROOT: ERROR
    org.springframework: ERROR
    org.springframework.data: ERROR
    org.springframework.web.reactive.function.client.ExchangeFunctions: ERROR
    org.oransc.policyagent: WARN
  file: /var/log/policy-agent/application.log
app:
  filepath: /opt/app/policy-agent/config/application_configuration.json
  a1ControllerBaseUrl: http://sdnc.onap:8282
  a1ControllerUsername: admin
  a1ControllerPassword: Kp8bJ4SXszM0WXlhak3eHlcse2gAw84vaoGGmJvUy2U

server:
   port : 8081
