spring:
  profiles:
    active: prod
  main:
    allow-bean-definition-overriding: true 
management:
  endpoints:
    web:
      exposure:
        include: "loggers,logfile,health,info,metrics"

logging:
  level:
    ROOT: ERROR
    org.springframework: ERROR
    org.springframework.data: ERROR
    org.springframework.web.reactive.function.client.ExchangeFunctions: ERROR
    org.onap.dcaegen2.collectors.datafile: WARN
  file: /var/log/policy-agent/application.log
app:
  filepath: src/test/resources/test_application_configuration.json

server:
   port : 8081
