<div class="modal fade" id="add_alts_credentials" tabindex="-1" role="dialog"
        aria-labelledby="add_alts_credentials_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add ALTS Credentials</h4>
          </div>
          <div class="modal-body">
            <form name="addForm" role="form" action="/ucpe/addAltsCredentials" method="POST">
              <div class="form-group">
                <label for="nf_alts_username">*ALTS Username</label>
                <input type="text" class="form-control" maxlength="255" name="nf_alts_username" id="nf_alts_username" placeholder="varchar(255)">
              </div>
              <div class="form-group">
                <label for="nf_alts_password">*ALTS Password</label>
                <input type="password" class="form-control" maxlength="255" name="nf_alts_password" id="nf_alts_password" placeholder="varbinary(255)">
              </div>
              <div class="form-group">
                <label for="nf_alts_password">*Confirm ALTS Password</label>
                <input type="password" class="form-control" maxlength="255" name="nf_confirm_alts_password" id="nf_confirm_alts_password" placeholder="varbinary(255)">
              </div>
              <div class="form-group">
                <input type="hidden" name="nf_action" id="nf_action">
                <button type="button" class="btn btn-primary" onclick="submitAltsCredentials(this.form);">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
           </form>
          </div>
      </div>
    </div>
  </div>

   <div class="modal fade" id="update_alts_credentials" tabindex="-1" role="dialog" 
		aria-labelledby="update_alts_credentials_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Update ALTS Credentials</h4>
          </div>
          <div class="modal-body">
            <form role="form" action="/ucpe/updateAltsCredentials" method="POST">
              <div class="form-group">
                <label for="uf_alts_username">*ALTS Username</label>
                <input type="text" class="form-control" maxlength="255" name="uf_alts_username" id="uf_alts_username">
              </div>
              <div class="form-group">
                <label for="uf_alts_password">*ALTS Password</label>
                <input type="password" class="form-control" maxlength="255" name="uf_alts_password" id="uf_alts_password">
			  </div>
              <div class="form-group">
                <label for="uf_alts_password">*Confirm ALTS Password</label>
                <input type="password" class="form-control" maxlength="255" name="uf_confirm_alts_password" id="uf_confirm_alts_password" placeholder="varbinary(255)">
              </div>
              <div class="form-group">
				<input type="hidden" name="uf_action" id="uf_action">
                <button type="button" class="btn btn-primary" onclick="submitAltsCredentials(this.form);">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
           </form>
          </div>
      </div>
    </div>
  </div>
