<div class="modal fade" id="add_link_latency_master" tabindex="-1" role="dialog"
        aria-labelledby="add_link_latency_master_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Add Link Latency Master</h4>
          </div>
          <div class="modal-body">
            <form name="addForm" role="form" action="/tunnel/addLinkLatencyMaster" method="POST">
              <div class="form-group">
                <label for="nf_source_crs_name">*Source CRS Name</label>
                <input type="text" class="form-control" maxlength="20" name="nf_source_crs_name" id="nf_source_crs_name" placeholder="varchar(20)">
              </div>
              <div class="form-group">
                <label for="nf_destination_crs_name">*Destination CRS Name</label>
                <input type="text" class="form-control" maxlength="20" name="nf_destination_crs_name" id="nf_destination_crs_name" placeholder="varchar(20)">
              </div>
              <div class="form-group">
                <label for="nf_bundle_name">*Bundle Name</label>
                <input type="text" class="form-control" maxlength="50" name="nf_bundle_name" id="nf_bundle_name" placeholder="varchar(50)">
              </div>
              <div class="form-group">
                <label for="nf_latency">*Latency</label>
                <input type="text" class="form-control" maxlength="10" name="nf_latency" id="nf_latency" placeholder="varchar(10)">
              </div>
              <div class="form-group">
                <label for="nf_intra_inter_snrc">*Intra Inter SNRC</label>
                <input type="text" class="form-control" maxlength="10" name="nf_intra_inter_snrc" id="nf_intra_inter_snrc" placeholder="varchar(10)">
              </div>
              <div class="form-group">
                <label for="nf_final_latency">*Final Latency</label>
                <input type="text" class="form-control" maxlength="10" name="nf_final_latency" id="nf_final_latency" placeholder="varchar(10)">
              </div>
              <div class="form-group">
                <label for="nf_augmentable">*Augmentable</label>
                <input type="text" class="form-control" maxlength="1" name="nf_augmentable" id="nf_augmentable" placeholder="varchar(1)">
              </div>
              <div class="form-group">
                <input type="hidden" name="nf_action" id="nf_action">
                <button type="button" class="btn btn-primary" onclick="submitLinkLatencyMaster(this.form);">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
           </form>
          </div>
      </div>
    </div>
  </div>

   <div class="modal fade" id="update_link_latency_master" tabindex="-1" role="dialog" 
		aria-labelledby="update_link_latency_master_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Update Link Latency Master</h4>
          </div>
          <div class="modal-body">
            <form role="form" action="/tunnel/updateLinkLatencyMaster" method="POST">
              <div class="form-group">
                    <label for="uf_source_crs_name">*Source CRS Name</label>
                    <input type="text" class="form-control" maxlength="20" name="uf_source_crs_name" id="uf_source_crs_name" placeholder="varchar(20)">
              </div>
              <div class="form-group">
                <label for="uf_destination_crs_name">*Destination CRS Name</label>
                <input type="text" class="form-control" maxlength="20" name="uf_destination_crs_name" id="uf_destination_crs_name" placeholder="varchar(20)">
              </div>
              <div class="form-group">
                <label for="uf_bundle_name">*Bundle Name</label>
                <input type="text" class="form-control" maxlength="50" name="uf_bundle_name" id="uf_bundle_name" placeholder="varchar(50)">
              </div>
              <div class="form-group">
                <label for="uf_latency">*Latency</label>
                <input type="text" class="form-control" maxlength="10" name="uf_latency" id="uf_latency" placeholder="varchar(10)">
              </div>
              <div class="form-group">
                <label for="uf_intra_inter_snrc">*Intra Inter SNRC</label>
                <input type="text" class="form-control" maxlength="10" name="uf_intra_inter_snrc" id="uf_intra_inter_snrc" placeholder="varchar(10)">
              </div>
              <div class="form-group">
                <label for="uf_final_latency">*Final Latency</label>
                <input type="text" class="form-control" maxlength="10" name="uf_final_latency" id="uf_final_latency" placeholder="varchar(10)">
              </div>
              <div class="form-group">
                <label for="uf_augmentable">*Augmentable</label>
                <input type="text" class="form-control" maxlength="1" name="uf_augmentable" id="uf_augmentable" placeholder="varchar(1)">
              </div>
              <div class="form-group">
				<input type="hidden" name="uf_action" id="uf_action">
                <input type="hidden" name="uf_key_source_crs_name" id="uf_key_source_crs_name">
                <input type="hidden" name="uf_key_destination_crs_name" id="uf_key_destination_crs_name">
                <input type="hidden" name="uf_key_bundle_name" id="uf_key_bundle_name">
                <button type="button" class="btn btn-primary" onclick="submitLinkLatencyMaster(this.form);">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
           </form>
          </div>
      </div>
    </div>
  </div>
