   <div class="modal fade" id="update_aic_switch_modal" tabindex="-1" role="dialog" 
		aria-labelledby="update_aic_switch_label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Update AIC Switch</h4>
          </div>
          <div class="modal-body">
            <form role="form" action="/gamma/updateAicSwitch" method="POST">
              <div class="form-group">
                <label for="uf_physical_network_name">Physical Network Name</label>
                <input type="text" class="form-control" name="uf_physical_network_name" id="uf_physical_network_name">
              </div>
              <div class="form-group">
                <label for="uf_switch_name">Switch Name</label>
                <input type="text" class="form-control" name="uf_switch_name" id="uf_switch_name">
              </div>
              <div class="form-group">
                <label for="uf_aic_site_id">AIC Site ID</label>
                <input type="text" class="form-control" name="uf_aic_site_id" id="uf_aic_site_id">
              </div>
              <div class="form-group">
                <label for="uf_uuid">UUID</label>
                <input type="text" class="form-control" name="uf_uuid" id="uf_uuid">
              </div>
              <div class="form-group">
                <label for="uf_availability_zone">Availability Zone</label>
                <input type="text" class="form-control" name="uf_availability_zone" id="uf_availability_zone">
              </div>
              <div class="form-group">
				<input type="hidden" name="uf_action" id="uf_action">
				<input type="hidden" name="uf_key_physical_network_name" id="uf_key_physical_network_name">
                <button type="submit" class="btn btn-primary">Submit</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
           </form>
          </div>
      </div>
    </div>
  </div>
